.event {
  display: block;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
}

.topBlock {
  padding: 16px;
}

.event:not(:first-child) {
  margin-top: 8px;
}

.date {
  margin-top: 8px;
}

.buttonGroup {
  width: 100%;
  border-top: $border;

  .btn {
    width: 50%;
    height: 47px;
    font-weight: bold;
    font-size: 12px;
    color: var(--primary-color);
    box-sizing: border-box;
    background-color: #fff;

    &:not(:last-child) {
      border-right: $border;
      background-clip: padding-box;
    }
  }
}

.img {
  height: 114px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
}
