.wrapper {
  position: relative;
}

.wrapper:not(:first-of-type) {
  margin-top: 32px;
}

.label {
  display: block;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.36;
  color: var(--dark-text-color);
}

.inputWrap {
  position: relative;
  display: block;
}

.input {
  padding: 35px 16px 14px;
  background-color: var(--gray-color);
  font-size: 16px;
  line-height: 1;
  color: var(--dark-text-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-color);
  border-radius: 5px;
  transition: background-color .2s, border-color .2s;
  outline: none;
}

.input:focus ~ .placeholder,
.input--hasValue ~ .placeholder {
  color: var(--dark-text-color);
  transform: scale(.75) translate(0, -15px);
}

.placeholder {
  position: absolute;
  left: 16px;
  top: 26px;
  font-size: 16px;
  line-height: 1;
  color: var(--light-text-color);
  pointer-events: none;
  transition: transform .2s, color .2s;
  transform-origin: 0 0;
}

.input::placeholder {
  opacity: .8;
}

.input:focus {
  background-color: var(--white-color);
  border: 1px solid var(--gray-border-color);
}

.input--hasError {
  animation: shake .3s;
  animation-fill-mode: forwards;
  background-color: var(--error-background-color);
}

.input--hasError, .input--hasError:focus {
  border: 1px solid var(--error-border-color);
}

.input--fluid {
  width: 100%;
}

.errorMessage {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.36;
  color: var(--error-text-color);
  text-transform: uppercase;
}

.iconsWrap {
  position: absolute;
  top: 27px;
  right: 16px;
  display: flex;
  align-items: center;
  font-size: 0;
}

.iconEyeWrap {
  width: 20px;
  margin-left: 5px;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }

  25% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0);
  }
}
