.eventsListContainer {
  height: 100%;
  background-color: var(--primary-color);
  padding: 16px 16px;
  position: relative;
}

.eventsList {
  min-height: 100%;
  height: 100%;
  margin-top: 64px;
}

.searchMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 24px 16px;
  background-color: var(--primary-color);
  z-index: 10;

  .btn {
    background-color: #fff;
    min-width: 146px;
    height: 32px;
    padding: 9px 16px;
    color: $primary-color;
    font-size: 12px;
    border-radius: 90px;
    display: flex;
    justify-content: space-between;

    .rightArrow {
      @extend %right-arrow;
      margin: auto 0;
    }
  }

  .searchIcon {
    margin: auto 0;
  }
}
