.button {
  display: inline-block;
  padding: 12px;
  font-size: 18px;
  line-height: 1.36;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .2s;
  user-select: none;
}

.button--fluid {
  width: 100%;
}

.button--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.button--primary:hover {
  background-color: var(--primary-hover-color);
}

.button--primary:active {
  background-color: var(--primary-active-color);
}
