.button {
  width: 100%;
  height: 70px;
  padding: 0;
  /*padding: 0 16px;*/
  /*border-radius: 5px;*/
  /*background-color: rgba(255, 255, 255, .2);*/
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  user-select: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.buttonLabel {
  display: block;
  font-size: 16px;
  line-height: 1;
  color: var(--white-color);
}

.buttonNote {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1;
  color: var(--white-color);
  opacity: .4;
  text-transform: uppercase;
}
