.wrapper {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.wrapper--fluid {
  width: 100%;
  justify-content: space-between;
}

.input {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.radio::after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: scale(0);
  transition: transform .2s;
}

.input:checked + .radio::after {
  transform: scale(1);
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 15px;
  background-color: var(--white-color);
  border-radius: 50%;
}
