$primary-color: #47DBCC;
$primary-hover-color: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #47DBCC;
$primary-active-color: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #47DBCC;
$white-color: #fff;
$gray-color: #EEEEEE;
$gray-border-color: #CBCBCB;
$dark-text-color: #303030;
$light-text-color: #ACACAC;
$main-gradient: linear-gradient(0deg, rgba(94, 55, 219, 0.5), rgba(94, 55, 219, 0.5)), #474F85;;
$background-light: #F2F2F2;
$error-background-color: rgba(255, 168, 168, 0.15);
$error-border-color: #FFA8A8;
$error-text-color: #FF0000;
