$border: solid 1px rgba(0, 0, 0, .2);

%arrow {
  border: solid $primary-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

%right-arrow {
  @extend %arrow;
  transform: rotate(-45deg);
}
