*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
}

html, body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-text-color);
  background-color: #fdfdfd;
  margin: 0 auto;
  overflow-x: hidden;
}

html {
  direction: ltr;
}

:global #root {
  height: 100%;
}

a[href] {
  color: var(--primary-color);
  text-decoration: none;
}

a[href].active {
  color: #000;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  border-radius: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

