.label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box {
  display: block;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  background-color: var(--gray-color);
  border-radius: 5px;
}

.box--hasError {
  border: 1px solid var(--error-border-color);
}

.input:checked + .box::after {
  content: '\2713';
  position: absolute;
  left: 8px;
  top: 5px;
  font-size: 24px;
  line-height: 1;
}

.input {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.text {
  display: block;
  margin-left: 16px;
  font-size: 12px;
  text-transform: uppercase;
  user-select: none;
}

.text--hasError {
  color: var(--error-text-color);
}
