.navBar {
  padding: 16px;
  background: #FFFFFF;
  background-size: 200%;
  animation: gradient-move 15s linear infinite;
  animation-fill-mode: forwards;
  color: var(--white-color);
  flex-direction: row;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0 0 50px -3px rgba(0,0,0,0.75);
  transition: all .2s ease-in-out;
  transform: translateZ(0);

  @include mobile {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.menuItems {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  @include mobile {
    z-index: 100;
    width: 100%;
    justify-content: space-between;
  }
}

.menuItem {
  @include mobile {
    width: 20%;
  }
}

.link {
  padding-right: 10px;
  padding-left: 10px;

  @include mobile {
    padding: 13px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;
  }
}

.icon {
  display: none;
  margin: 0 auto;
  width: 22px;
  height: 26px;
  stroke: #000;

  @include mobile {
    display: block;
    margin-bottom: 5px;
  }

  &.active {
    fill: $primary-color;
    stroke: $primary-color;
  }
}

.brand, .footer {
  @include mobile {
    display: none;
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 200%;
  }
}
