.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 16px;
  border-radius: 5px;
  background-color: var(--gray-color);
  font-size: 0;
  border: none;
  cursor: pointer;
  text-align: left;
  user-select: none;
}

.button--hasValue {
  background-color: var(--gray-color);
}

.buttonLabel {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 8px;
  color: var(--dark-text-color);
  user-select: none;
}

.valueWrap {
  font-size: 16px;
  color: var(--dark-text-color);
}

.iconWrap {
  margin-left: 15px;
}

.placeholderWrap {
  font-size: 16px;
  color: var(--light-text-color);
  user-select: none;
}
