.textLabel {
  display: block;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.36;
  color: var(--dark-text-color);
}

.label {
  display: block;
  padding: 44px 12px;
  background-color: var(--gray-color);
  text-align: center;
  color: var(--dark-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.label--fluid {
  width: 100%;
}

.input {
  display: none;
}
