.wrapper {
  position: relative;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 32px 16px 12px;
  font-size: 16px;
  line-height: 1;
  color: transparent;
  background-color: var(--gray-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-color);
  border-radius: 5px;
  transition: color .2s, background-color .2s, border-color .2s;
  outline: none;
  user-select: none;
}

.input--hasValue {
  color: var(--dark-text-color);
}

.input:focus {
  background-color: var(--white-color);
  color: var(--dark-text-color);
  border: 1px solid var(--gray-border-color);
}

.input:focus ~ .placeholder,
.input--hasValue ~ .placeholder {
  color: var(--dark-text-color);
  transform: scale(.75) translate(0, -15px);
}

.placeholder {
  position: absolute;
  left: 16px;
  top: 26px;
  font-size: 16px;
  line-height: 1;
  color: var(--light-text-color);
  pointer-events: none;
  transition: transform .2s, color .2s;
  transform-origin: 0 0;
}

