.wrapper:not(:first-of-type) {
  margin-top: 32px;
}

.label {
  display: block;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.36;
  color: var(--dark-text-color);
}

.input {
  padding: 12px;
  background-color: var(--gray-color);
  font-size: 18px;
  line-height: 1.36;
  color: var(--dark-text-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-color);
  border-radius: 5px;
  transition: background-color .2s, border-color .2s;
  outline: none;
  resize: none;
}

.input::placeholder {
  font-size: 16px;
  line-height: 1;
  color: var(--light-text-color);
  pointer-events: none;
}

.input:focus {
  background-color: var(--white-color);
  border: 1px solid var(--gray-border-color);
}

.input--hasError, .input--hasError:focus {
  border: 1px solid var(--error-border-color);
}

.input--fluid {
  width: 100%;
}

.errorMessage {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.36;
  color: var(--error-text-color);
  text-transform: uppercase;
}
