.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label--fluid {
  justify-content: space-between;
}

.labelText {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
}

.labelText--white {
  color: var(--white-color);
}

.switchBody {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  background-color: var(--gray-color);
  border-radius: 12px;
}

.switchBody--white {
  background-color: var(--white-color);
}

.switchBody::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--dark-text-color);
  border-radius: 50%;
  transition: transform .2s, background-color .2s;
}

.input {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.input:checked + .switchBody::after {
  background-color: var(--primary-color);
  transform: translate(24px, 0);
}
