.categoryWrap {
  display: block;
  width: calc(50% - 4px);
  cursor: pointer;
}

.categoryInput {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.categoryInput:checked + .categoryBody {
  background-color: rgba(255, 255, 255, .4);
}

.categoryBody {
  height: 140px;
  padding: 24px 16px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  transition: background-color .2s;
}

.categoryLabel {
  font-size: 12px;
  line-height: 1;
  color: var(--white-color);
  text-transform: uppercase;
  user-select: none;
}

.buttonWrap {
  position: sticky;
  margin-top: 8px;
  bottom: 82px;
}

.radioWrap {
  display: flex;
  align-items: stretch;
  height: 56px;
}
