.headWrap {
  display: flex;
  color: var(--white-color);
  background: var(--main-gradient);
}

.headWrap--fullHeight {
  flex-grow: 1;
}

.head {
  width: 100%;
  padding: 24px;
}

@media (min-width: 768px) {
  .head {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
  }
}

.title {
  margin-bottom: 16px;
  font-size: 34px;
  line-height: 1.36;
  font-style: normal;
  font-weight: bold;
  color: var(--primary-color);
  user-select: none;
}

.description {
  margin-bottom: 16px;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.36;
}

.controlsWrap {
  display: flex;
  align-items: center;
}

.closeWrap {
  display: inline-block;
  margin-left: auto;
  margin-bottom: 12px;
  cursor: pointer;
}

.goBackWrap {
  display: inline-block;
  margin-bottom: 12px;
  cursor: pointer;
}
