.wrapper {
  padding: 24px;
  background-color: var(--white-color);
}

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 480px;
    margin: 32px auto;
    padding: 32px;
    box-shadow: 0 0 39px -18px rgba(0,0,0,0.75);
  }
}
