.wrapper {
  position: relative;
}

.input {
  padding: 32px 16px 14px;
  font-size: 16px;
  line-height: 1;
  color: var(--dark-text-color);
  background-color: var(--gray-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-color);
  border-radius: 5px;
  transition: background-color .2s, border-color .2s;
  outline: none;
}

.input:focus {
  background-color: var(--white-color);
  border: 1px solid var(--gray-border-color);
}

.input--fluid {
  width: 100%;
}

.label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 12px;
  color: var(--dark-text-color);
}
