.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  @include mobile {
    padding-bottom: 50px;
  }
}

.footer {
  background: var(--main-gradient);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  
  @include mobile {
    display: none;
  }
}
